:root {
    --primary-color: #4CAF50;
}

.main-grid {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    padding: 48px;
    gap: 20px;
}

.container {
    display: flex;
    background-color: #f6f6f6;
    padding: 24px;
    height: 100%; width: auto;
    border-radius: 12px;
}

.simulation-controls, .process-queue, .simulation, .statistics {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.simulation-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    gap: 10px;
    place-items: center;
    > div, .slide-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 18px;
    height: 18px; 
    background: var(--primary-color); 
    cursor: pointer;
}

.simulation {
    min-width: 1100px;
    > .container {
        overflow-x: auto;
        gap: 10px;
        > .block {
            min-width: 100px;
            background-color: white;
            border-bottom: 8px solid rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08), 0px 12px 24px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            padding: 12px;
            flex-shrink: 0;
            > p {font-weight: 200; font-size: 12px;}
            > h2 {
                font-size: 1rem; 
                text-align: center;
                place-self: center;
            }
        }
    }
}
.statistics {
    > .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 4px;
            background-color: white;
            border-radius: 12px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08), 0px 12px 24px rgba(0, 0, 0, 0.1); 
            border-bottom: 8px solid var(--primary-color);
                > p {font-weight: 200;}
        }
    }
}