@font-face {
    font-family: Inter;
    src: url(/src/font/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

:root {
    --primary-color: #FFCE21;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sidebar main main main";
}

.sidebar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: sidebar;
    padding: 6vh 20px;
}
#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 280px;
    position: sticky;
    top: 0;
    align-self: start;
    text-wrap: nowrap;
    transition: 300ms ease-in-out;
    overflow: hidden;
}
#sidebar.close {
    padding: 6vh 5px;
    width: 60px;
}
#sidebar svg {
    flex-shrink: 0 ;
}
#sidebar .sidebar-options .active a {
    color: white;
    background-color: var(--primary-color);
    border-radius: 8px;
    svg {
        stroke: white;
    }
}
#sidebar a, #sidebar .dropdown-btn {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 12px;
    font-size: 20px;
}
#sidebar a p, #sidebar .dropdown-btn p {
    flex-grow: 1;
}
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    > div {
        overflow: hidden;
    }
}
#sidebar .sub-menu div a {
    padding-left: 2em;
}
#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn {
    cursor: pointer;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    
}
.dropdown-btn svg {
    transition: transform 200ms ease-in-out;
}
.rotate svg:last-child {
    transform: rotate(180deg);
}
#toggle-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    border: none;
    background: none;
    cursor: pointer;

    svg {
        transition: transform 150ms ease-in-out;
    }
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 60px;
}
.logo h1.hidden{
    color: white;
}
.hidden{
    color: white;
}
.logo h1 {
    font-size: 48px;
    color: var(--primary-color);
    text-wrap: nowrap;
    transition: 300ms ease-in-out;
}

.logo p {
    text-align: center;
    text-wrap: nowrap;
    transition: 300ms ease-in-out;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
}

.sidebar-options div a {
    display: flex;
    gap: 8px;
    padding: 12px;
}

.sidebar-options div:nth-last-child(2) {
    margin-top: auto;
}

.main {
    position: relative;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main;
}

.input-values form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: #f6f6f6;
    padding: 50px;
    border-radius: 5px;
}

.input-block, .input-process {
    display: grid;
    gap: 8px;
}

.input-values input[type="number"], .input-values button {
    border: #e0e0e0 2px solid;
    background-color: white;
    padding: 12px; 
    border-radius: 4px;
}

.input-values button {
    cursor: pointer;
}

.input-values input[type="number"] {
    border: #e0e0e0 2px solid;
}

.input-values input[type="number"]:focus {
    outline: none;
    border-color: var(--primary-color);
}

.input-block button, .input-process button {
    color: var(--primary-color);
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 4px;
}

.input-action {
    display: flex; flex-direction: column;
    grid-column: span 2;
    gap: 12px;
}

.input-action button {font-weight: 500;}

.input-action button[type="submit"] {
    border: none;
    background-color: var(--primary-color);
}
#modal-form {
    transition: opacity 200ms ease-in-out;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 67;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
#modal-form.show {
    opacity: 1;
    visibility: visible;
}
#open-form, #close-form {
    transition: 200ms ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#open-form {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 68;
}
#open-form.hide { 
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.8);
}
#close-form {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1001;
}
#close-form.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scale(1);
}